# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/

# Build / output
bin/
obj/
artifacts/

# NuGet
*.nupkg
.nuget/
packages/

# User files
*.user
*.suo
*.userosscache

# Runtime files
*.dll
*.exe
*.pdb

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.pyc
venv/
env/

# Node
node_modules/

# Git
*.patch
